<div class="body">

    <h1 class="text-center mt-3">Habitación</h1>



    <div class="container mt-4">
        <h2> Seleccione la(s) habitaciones que desee:</h2>


        <div class="align">

            <select class="mt-4">
                <option selected class="selected">Seleccione el Hotel</option>
                <option>Ejemplo</option>
                <option>Ejemplo</option>
                <option>Ejemplo</option>
                <option>Ejemplo</option>
                <option>Ejemplo</option>
            </select>
        </div>


        <div class="align mt-4">
            <div class="options">
                <button type="button" class="btn btn-secondary me-5">Agregar</button>
            </div>
            <div class="options">
                <button type="button" class="btn btn-success">Siguiente</button>
            </div>
        </div>


    </div>

</div>
