<div class="body">

    <h1 class="text-center mt-3">Habitación</h1>



    <div class="container mt-4">
        <h2> Seleccione los servicios que desee adquirir:</h2>


        <div class="align">

            <select class="mt-4">
                <option selected class="selected">Seleccione el Servicio</option>
                <option>Ejemplo</option>
                <option>Ejemplo</option>
                <option>Ejemplo</option>
                <option>Ejemplo</option>
                <option>Ejemplo</option>
            </select>
        </div>


        <div class="align mt-4">
            <div class="options">
                <button type="button" class="btn btn-secondary me-2">Agregar</button>
            </div>
            <div class="options">
                <button type="button" class="btn btn-success me-2">Confirmar</button>
            </div>
            <div class="options">
                <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
        </div>


    </div>

</div>
