<app-nav-bar></app-nav-bar>
<div class="body">

    <!-- <h1 class="text-center mt-3">CLIENTES DEL HOTEL EJEMPLO </h1> -->



    <div class="container mt-5">

        <!--Card Usuario-->
        <div class="col-md-4">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="../../../assets/img/Hotel bg.jpg" alt="profile-sample1" class="background" />
                </div>
                <div class="profile-thumb-block">
                    <img src="../../../assets/img/client.png" alt="profile-image" class="profile" />
                </div>
                <div class="card-content">
                    <h2>Cliente 1</h2>
                </div>
            </div>
        </div>

        <!--Card Usuario-->
        <div class="col-md-4">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="../../../assets/img/Hotel bg.jpg" alt="profile-sample1" class="background" />
                </div>
                <div class="profile-thumb-block">
                    <img src="../../../assets/img/client.png" alt="profile-image" class="profile" />
                </div>
                <div class="card-content">
                    <h2>Cliente 2</h2>
                </div>
            </div>
        </div>

        



    </div>

</div>
